Repository Rock-n-Roll-CRC/Portfolio-Website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

.lintstagedrc:

{
  "*.{css,sass,scss}": ["stylelint --fix", "prettier --write --ignore-unknown"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "!(*.{css,sass,scss,js,jsx,ts,tsx})": "prettier --write --ignore-unknown"
}

🔍 Add base metadata (title, icons, etc)
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon1.png
  src/app/icon2.svg
  src/app/layout.tsx
  src/app/manifest.webmanifest
  src/app/page.tsx
Due: prettier --write --ignore-unknown, eslint --fix

➕ Add and setup @svgr/webpack package
  next.config.ts
  package-lock.json
  package.json
  svgr.d.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

🔧 Add selector-bem-plugin Sass interpolation support
  stylelint.config.mjs
Due: none

🍱 Add assets
  src/assets/icons/arrow-left.svg
  src/assets/icons/arrow-right.svg
  src/assets/icons/envelope-simple.svg
  src/assets/icons/gears.svg
  src/assets/icons/list.svg
  src/assets/icons/logos/css.svg
  src/assets/icons/logos/figma.svg
  src/assets/icons/logos/gears.svg
  src/assets/icons/logos/git.svg
  src/assets/icons/logos/github.svg
  src/assets/icons/logos/html.svg
  src/assets/icons/logos/javascript.svg
  src/assets/icons/logos/linkedin.svg
  src/assets/icons/logos/logo.svg
  src/assets/icons/logos/nextjs.svg
  src/assets/icons/logos/react.svg
  src/assets/icons/logos/sass.svg
  src/assets/icons/logos/supabase.svg
  src/assets/icons/logos/twitter.svg
  src/assets/icons/logos/typescript.svg
  src/assets/icons/map-pin.svg
  src/assets/icons/phone.svg
  src/assets/icons/x.svg
  src/assets/images/danil-dikhtyar.jpg
  src/assets/images/project-previews/fit-net/client-profile.png
  src/assets/images/project-previews/fit-net/coach-profile.png
  src/assets/images/project-previews/fit-net/hero.png
  src/assets/images/project-previews/fit-net/login.png
  src/assets/images/project-previews/fit-net/messages.png
  src/assets/images/project-previews/fit-net/notifications.png
  src/assets/images/project-previews/fit-net/review-modal.png
  src/assets/images/project-previews/fit-net/search-filter.png
  src/assets/images/project-previews/fit-net/search-no-filter.png
  src/assets/images/project-previews/fit-net/thumbnale.png
  src/assets/images/project-previews/no-bullying/hero.png
  src/assets/images/project-previews/no-bullying/quiz-results.png
  src/assets/images/project-previews/no-bullying/quiz.png
  src/assets/images/project-previews/rest-countries/country.png
  src/assets/images/project-previews/rest-countries/main.png
  src/assets/images/project-previews/rest-countries/main2.png
Due: none

💄Add base styles
  src/styles/base/_general.scss
  src/styles/settings/_breakpoints.scss
  src/styles/settings/_colors.scss
  src/styles/tools/_index.scss
  src/styles/tools/_resetters.scss
Due: stylelint --fix, prettier --write --ignore-unknown

➕ Add react-rough-notation dependency
  package-lock.json
  package.json
Due: none

✨ Implement Header and Hero sections
  public/resume.pdf
  src/app/page.module.scss
  src/app/page.tsx
  src/components/HomepageNav/HomepageNav.module.scss
  src/components/HomepageNav/HomepageNav.tsx
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

✨ Implement Skills section
  src/app/page.tsx
  src/components/SkillItem/SkillItem.module.scss
  src/components/SkillItem/SkillItem.tsx
  src/components/SkillList/SkillList.module.scss
  src/components/SkillList/SkillList.tsx
  src/components/Skills/Skills.module.scss
  src/components/Skills/Skills.tsx
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

✨ Implement URLSectionTracker
  src/app/layout.tsx
  src/components/URLSectionTracker/URLSectionTraker.tsx
Due: prettier --write --ignore-unknown, eslint --fix

➕ Add react-hook-form dependency
  package-lock.json
  package.json
Due: none

➕ Add zod dependency
  package-lock.json
  package.json
Due: none

➕ Add react-hot-toast dependency
  package-lock.json
  package.json
Due: none

➕ Add nodemailer dependency
  package-lock.json
  package.json
Due: none

✨ Implement Contact section
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Contact/Contact.module.scss
  src/components/Contact/Contact.tsx
  src/services/actions.ts
  src/services/nodemailer.ts
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

✨ Implement Footer section
  src/app/page.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

✨ Add support of non-latin characters in contact form
  src/components/Contact/Contact.tsx
Due: prettier --write --ignore-unknown, eslint --fix

🚚 Rename resume.pdf
  public/Danil_Dikhtyar-Resume-2025-Frontend_Developer.pdf
  public/resume.pdf
  src/app/page.tsx
  src/components/Footer/Footer.tsx
  src/components/HomepageNav/HomepageNav.tsx
Due: prettier --write --ignore-unknown, eslint --fix

🩹 Fix env access method
  src/services/nodemailer.ts
Due: prettier --write --ignore-unknown, eslint --fix

🚀 Deploy to server
  eslint.config.mjs
  package-lock.json
  package.json
  server.js
Due: prettier --write --ignore-unknown, eslint --fix

🍱 Update resume
  public/Danil_Dikhtyar-Resume-2025-Frontend_Developer.pdf
Due: none

⬆️ Update next dependency
  package-lock.json
  package.json
Due: none

🍱 Rename resume pdf file
  public/Danil_Dikhtyar-Resume-2026-Frontend_Developer.pdf
Due: none

🚚 Update resume pdf file paths
  src/app/page.tsx
  src/components/Footer/Footer.tsx
  src/components/HomepageNav/HomepageNav.tsx
Due: prettier --write --ignore-unknown, eslint --fix

📦 Update package-lock.json
  package-lock.json
Due: none

✨ Update mail transporter
  env.d.ts
  src/services/nodemailer.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

✨ Update skill list
  src/assets/icons/logos/express.svg
  src/assets/icons/logos/mongodb.svg
  src/assets/icons/logos/nodejs.svg
  src/assets/icons/logos/postman.svg
  src/components/SkillList/SkillList.tsx
Due: prettier --write --ignore-unknown, eslint --fix

✨ Add LeoShop project item
  public/videos/leoshop-demo.mp4
  src/assets/images/project-previews/leoshop/1.png
  src/assets/images/project-previews/leoshop/10.png
  src/assets/images/project-previews/leoshop/11.png
  src/assets/images/project-previews/leoshop/12.png
  src/assets/images/project-previews/leoshop/13.png
  src/assets/images/project-previews/leoshop/2.png
  src/assets/images/project-previews/leoshop/3.png
  src/assets/images/project-previews/leoshop/4.png
  src/assets/images/project-previews/leoshop/5.png
  src/assets/images/project-previews/leoshop/6.png
  src/assets/images/project-previews/leoshop/7.png
  src/assets/images/project-previews/leoshop/8.png
  src/assets/images/project-previews/leoshop/9.png
  src/components/ProjectItem/ProjectItem.module.scss
  src/components/ProjectList/ProjectList.tsx
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --fix

✨ Update the resume
  public/Danil_Dikhtyar-Resume-2026-Frontend_Developer.pdf
  public/Danil_Dikhtyar-Resume-2026-Fullstack_Developer.pdf
  src/app/page.tsx
  src/components/Footer/Footer.tsx
  src/components/HomepageNav/HomepageNav.tsx
Due: prettier --write --ignore-unknown, eslint --fix

🚨 Fix nodemailer transporter's lint error
  src/services/nodemailer.ts
Due: prettier --write --ignore-unknown, eslint --fix
